@font-face {
    font-family: MurmanskFWF; /* Гарнитура шрифта */
    src: url(../fonts/murmanskfwf.ttf); /* Путь к файлу со шрифтом */
}
@font-face {
    font-family: MyRiad Pro; /* Гарнитура шрифта */
    src: url(../fonts/myriadpro.otf); /* Путь к файлу со шрифтом */
}
@font-face {
    font-family: fbk; /* Гарнитура шрифта */
    src: url(../fonts/frabk.ttf); /* Путь к файлу со шрифтом */
}
@font-face {
    font-family: fhv; /* Гарнитура шрифта */
    src: url(../fonts/frahv.ttf); /* Путь к файлу со шрифтом */
}
body{
	font-family: fbk;
}
section{
	padding: 2.5em 5%;
}

.wide-container{
	width: 100%;
	max-width: 1000px;
	margin: 0 auto;
}

a{
	color: #747474;
}
a:hover, a:focus{
	color: #2489c5;
	text-decoration: none;
}
.breadcrumbs, .breadcrumbs a, .categories, .categories a{
	color: #747474;
	font-size: 24px;
}
.breadcrumbs i{
	color: #4e606b;
	font-size: 19px;
}
.breadcrumbs a:hover, .breadcrumbs .active a, .categories a:hover, .categories .active a{
	color: #2489c5;
}
.categories > li{
	display: inline-block;
	list-style: none;
	text-align: center;
}
.categories > li:not(:last-child){
	border-right: 3px solid #5ea8d4;
	padding-right: 7px;
}
@media(max-width: 768px){
	.text-center-sm{
		text-align: center;
	}

}
/*** header  ***/

header{
	min-height: 65px;
	line-height: 57px;
	padding: 0 5%;
}
.logo{

}
.menu ul{
	margin: 0;
	padding: 0;
	float: right;
}
.menu ul > li{
	display: inline-block;
	list-style: none;
	margin: 0 15px;	
	border-bottom: 9px solid transparent;
}
.menu ul > li:hover, .menu ul > li.current-menu-item{
	border-bottom: 9px solid #4688ca;
}
.menu ul > li > a{
	font-size: 1.6em;
}

.top-slider{
	padding: 0;

}
.item{
	height: 550px;
	position: relative;
	overflow: hidden;
	border-bottom: 9px solid #4688ca;
}
.item img{
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    width: 100%;
    min-height: 100%;
    height: auto;
}
.top-slider .desc{
	top: 50%;
	position: absolute;
  	
  	width: 100%;  	
  	z-index: 1;
  	padding: 0 5%;
}
.top-slider .desc .content{
;
	width: 95%;
	max-width: 474px;
	background-color: rgba(50,123,196,.8);
  	box-shadow: 0 4px 10px #555;
  	padding: 30px 50px;
}
.top-slider .desc p{
	font-size: 2.2em;
	color: #fff;
}
.top-slider > .slider-arrows{
	position: absolute;
	top: 40%;
	font-size: 2.5em;
	z-index: 999;
	height: 106px;
	width: 50px;
	background-size: cover;
	cursor: pointer;
}
.top-slider > .slider-arrows:hover{
	border: 1px solid transparent;
}

.top-slider > .slider-arrows.next{
	right: 0%;
	background: url(../img/next-arrow.png) no-repeat center rgba(0,0,0,.5);
}
.top-slider > .slider-arrows.prev{
	left: 0%;
	background: url(../img/prev-arrow.png) no-repeat center rgba(0,0,0,.5);
}

@media(max-width: 768px){
	.menu ul{
		float: none;
		text-align: center;
	}
	.top-slider .desc{
		top: 40%;
	}
	.item img{
		height: 100%;
		width: auto;
		min-width: 100%;
	}
}

/*** end of header ***/

footer{
	border-top: 9px solid #4688ca;
	background-color: #525252;
}
footer a.btn{
	display: block;
	margin: 2.5em auto;
	color: #fff;
	background-color: #f1715e;
	max-width: 370px;
	width: 95%;
}
footer img{
	display: block;
	margin: 0 auto;
}
footer ul{
	font-size: 13px;
	padding: 20px 0 30px 0;
	text-align: center;
	margin: 0;
}
footer ul > li{
	display: inline-block;
	padding: 0 15px;
	line-height: 1.5em;
}
footer ul > li:not(:last-child){
	border-right: 1px solid #a1a1a1;
}
/*** footer  ***/


/*** end of footer ***/

/*** blog/mini-blog ***/

.mini-blog, .info{
	padding-bottom: 40px;
	background-color: #f2f0f0;
}
.mini-blog-block, .info-block{
  background-color: #fff;
  border-bottom: 1px solid #555;
  box-shadow: 0 6px 15px #666;
  padding: 0 0 17px 0;
}
.mini-blog-block{
	margin-bottom: 35px;
}
.mini-blog-header{
	background-color: #2489c5;
	font-size: 18px;
	color: #fff;
	line-height: 36px;
	padding-left: 15px; 
}
.mini-blog-body{
	padding: 17px 2px 17px 17px;
	margin: 0;
}
.mini-blog-img{
	position: relative;
	margin-bottom: 1em;
	overflow: hidden;
	height: 190px;
}
.mini-blog-img img{
	position: absolute;
	height: auto;
	min-width: 100%;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
}
.mini-blog-content{
	text-align: left;
	font-size: 14px;
}
.mini-blog-content .ref{
	text-align: right;
}
@media(max-width: 768px){
	.mini-blog-img img{
		min-width: auto;
		height: 100%;
		width: auto;
	}
}

/*** end of blog/mini-blog ***/

