/*** features  ***/

.features{

}
.feature-block:not(:last-child){
	margin-bottom: 60px;
}
.feature-block img{
	display: block;
	margin: 0 auto;
}
.feature-block .desc{
	padding-top: 25px;
}
.feature-block .desc span{
	display: block;
	font-size: 1.4em;
	text-align: center;	
	color: #525252;
}
.feature-block .desc span.title{
	font-family: fhv;
	font-size: 1.6em;
	line-height: 2.2em;
}

/*** end of features ***/

/*** table  ***/

.filter{
	display: block;	
	width: 90%;
	max-width: 350px;
	padding: 0;
	height: 50px;
	margin: 0 auto;
	margin-bottom: 30px;
}
.filter .btn-group{
	width: 100%;	
}
.btn{
	border-radius: 10px;
}
.filter .btn-group .btn{
	color: #4f81bd;
	background-color: #fff;
	border-color: #4f81bd;
	padding: 10px 0px;
	width: 33.3%;	
}
.filter .btn-group .btn:active, .filter .btn-group .btn:focus{
	outline: none;
}
.btn-group .btn:not(:first-child):not(:last-child):not(.dropdown-toggle){
	border-right: none;
	border-radius: 0;
}
.btn-group form:last-child:not(:first-child) .btn, .btn-group .dropdown-toggle:not(:first-child){
	border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}
.btn-group form:first-child .btn, .btn-group form:not(:first-child):not(:last-child) .btn{
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-right: none;
}
.btn-group form:not(:first-child):not(:last-child) .btn {
    border-radius: 0;
}

.btn-group-vertical .btn, .btn-group .btn {
    position: relative;
    float: left;
}
.filter .btn-group .btn:hover, .filter .btn-group .btn.active{
	color: #fff;
	background-color: #4f81bd;
}
.country-label{
	background: url(../img/country-label.png) no-repeat center transparent;	
}

.head-table ul{
	display: block;
	padding: 0;
	border: 1px solid #4789cb;
}
.head-table ul>li{
	list-style: none;
	display: inline-block;
	line-height: 75px;
	width: 19.2%;
	text-align: center;
	font-size: 1.4em;
	color: #525252;
}

.head-table ul>li>span{
	color: #4f81bd;
}
.head-table ul>li:not(:first-child){
	border-left: 1px solid #4789cb;
}
.main-table{
	font-family: fhv;
	font-size: 1.4em;
	color: #959595;
	padding-bottom: 30px;
	border-bottom: 1px solid #4789cb;
}
.main-table ul{
	display: table;
	table-layout: fixed;
	padding: 0;

	width: 95%;
	margin: 0 auto;
	border-bottom: 1px solid #4789cb;
	position: relative;
}

.main-table ul.best>li:after{
	content: '';
	position: absolute;
	top: -40px;
	right: -60px;
	background: url(../img/best.png) no-repeat center transparent;
	width: 88px;
	height: 88px;
	background-size: 100% 100%;
	z-index: 1;
}
.main-table ul>li{
	display: table-cell;
	list-style: none;
	height: 90px;
	text-align: center;
	vertical-align: middle;
}
.main-table ul>li:first-child{
	width: 170px;
}
.main-table ul>li:nth-child(2){
	width: 195px;
}
.main-table ul>li:nth-child(3){
	width: 195px;
}
.main-table ul>li:nth-child(4){
	width: 140px;
}
.main-table ul>li.img{
	overflow: hidden;
}
.main-table ul>li.img img{	
    width: 90%;
    height: auto;
    max-height: 90%;
}
.main-table ul>li>a{
	display: block;
	max-width: 130px;
	margin: 0 auto;
}
.main-table ul>li.img{
	
}
@media(max-width: 768px){

}

/*** end of table ***/

/*** credit ***/
.credit{
}
.credit-header{
	color: #fff;
	background-color: #4789cb;
	font-size: 3em;
	text-align: center;
	line-height: 1.6em;
}
.credit-body{
	border-top: 1px solid #4789cb;
	margin: 4em 0;
	padding: 2.5em 5em;
	color: #525252;

}
.credit-block{
	position: relative;
	border: 1px solid #4789cb;
	padding: 20px;
	position: relative;
	max-width: 260px;
	margin: 0 auto 70px;
}
.credit-block .before{
	position: absolute;
	background: url(../img/credit-label.png) no-repeat top transparent;
	left: 50%;
	top: 0;
	transform: translate(-50%, -100%);
    -ms-transform: translate(-50%, -100%);
    -webkit-transform: translate(-50%, -100%);
    -o-transform: translate(-50%, -100%);
    -moz-transform: translate(-50%, -100%);
    width: 68px;
    height: 47px;
    text-align: center;
    line-height: 1.7em;
}
.credit-block .desc{
	font-size: 1.2em;
	text-align: center;
}
.img-container{
	height: 115px;
	width: 115px;
	position: relative;
	overflow: hidden;
	margin: 1.5em auto;
}
.img-container img{
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    height: 65%;
    width: auto;
}
@media(max-width: 991px){
	.head-table ul>li{
		width: calc(50% - 2px);
		border-bottom: 1px solid #4789cb;
	}
	.head-table ul>li:nth-child(odd){
		border-left: none;
	}
	.head-table ul>li:last-child{
		width: 100%;
		border: none;
	}
	.main-table ul>li{
		display: inline-block;
		width: 33.3%!important;
		line-height: 90px;
	}
	.main-table ul>li>a{
		display: inline-block;
	}
}
@media(max-width: 768px){
	.credit-body{
		padding: 2.5em 0;
	}
	.main-table ul>li{
		width: 50%!important;
	}
	.main-table ul.best>li:after{
		display: none;
	}
	.main-table ul>li.sum{
		line-height: normal;
	}
}
/*** end of credit ***/


